<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>홈</title>
</head>
<body>
<div>
    <li>
        <a href="/signin">로그인</a>
    </li>

    <table class="table">
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.publisher}"></td>
            <td><a th:href="@{/admin/book}" class="card-link btn btn-primary">책 대여하기</a></td>
        </tr>
    </table>
</div>
</body>
</html>